.meni {
	background-color: #6495ED;
	width: 600pt;
	margin: 0 auto;
	padding: 45px 15px 2px 15px;
	margin-bottom: 7px;
}
.logo {
	width: 90pt;
	margin: 0 auto;
}
.logo img {
	position: relative;
	z-index: 100;
	width: 90px;
	height: 90px;
}
ul {
	list-style-type: none;
	padding: 0;
}

.navItem {
	display: inline;
	margin: 10pt;
}

.active {
	text-decoration: none;
}
a {
	text-decoration: underline;
	color: black;
}
@media screen and (max-width: 600px) {
	.navItem {
		display: block;
	}	
}