.sadrzaj {
	background-color: #6495ED;	
	width: 600pt;
	margin: 0 auto;
	padding: 15px;
}

table, td, tr {
	border: solid black 1px;
	border-collapse: collapse;
	padding: 5px;
	
}
table {
	background-color: white;
	width: 400pt;
	margin: 0 auto;
}
td {
	width: 100pt;
}