.vanjski {
	position: relative;
	top: -45px;
}
.sadrzaj {
	background-color: #6495ED;	
	width: 600pt;
	margin: 0 auto;
	padding: 15px;
}

.container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}
.container img {
    width: 200pt; 
    height: 300px;
    object-fit: cover;

}

.btn {
  border: 5px solid blue;
  text-align: center;
  padding-top: 3pt;
  padding-bottom: 3pt;
  padding-right: 6pt;
  padding-left: 6pt;
  background-color: #6495ED;
  width: 95px;
  height: 50px;
}
.btn-prev {
  float: left;
}

.btn-next {
  float: right;
}

@media screen and (max-width: 800px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
  .meni, .vanjski, .sadrzaj {
		width: auto;
	}

}

@media screen and (max-width: 700px) {
  	.container {
    	grid-template-columns: repeat(1, 1fr);
  	}
  	
}

@media screen and (max-width: 600px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
    
  }

  .container img {
	  width: 160pt;
    height: 240px;
    object-fit: cover;
  }
  
}
