.vanjski {
	position: relative;
	top: -45px;
}
.sadrzaj {
	background-color: #6495ED;	
	width: 600pt;
	margin: 0 auto;
	padding: 15px;
}

.container {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.container label {
	border: 3px solid blue;
	text-align: center;
	padding-top: 3pt;
	padding-bottom: 3pt;
	padding-right: 6pt;
	padding-left: 6pt;
	height: 12pt;
}

.forma {
	padding: 5px;
}

form label {
	display: inline-block;
	width: 200pt;
	margin: 3pt;
}

.outterDiv {
	border: 2px solid blue;
	text-align: center;
	border-collapse: collapse;
	width: 70pt;
	height: 30pt;
}

.slobodna .bottomDiv {
	border-top: 2px solid blue;
	background-color: green;
	height: 15pt;
	width: 70pt;
}

.zauzeta .bottomDiv {
	border-top: 2px solid blue;
	background-color: red;
	height: 15pt;
	width: 70pt;
}


h3 {
	padding-left: 30px;
}

.btnDivs {
	width: 600pt;
	margin: 0 auto;
	margin-top: 20px;
}

.btn {
	border: 5px solid blue;
	text-align: center;
	padding-top: 3pt;
	padding-bottom: 3pt;
	padding-right: 6pt;
	padding-left: 6pt;
	background-color: #6495ED;
	width: 95px;
	height: 50px;
}

.btn-prev {
	float: left;
}

.btn-next {
	float: right;
}

@media screen and (max-width: 800px) {
	.meni, .vanjski, .sadrzaj, .container, .btnDivs {
		width: auto;
	}
	
}

@media screen and (max-width: 600px) {
	.pon {
		grid-row-start: 1;
		grid-row-end: 2;
	}
	.uto {
		grid-row-start: 2;
		grid-row-end: 3;
	}
	.sri {
		grid-row-start: 3;
		grid-row-end: 4;
	}
	.cet {
		grid-row-start: 4;
		grid-row-end: 5;
	}
	.pet {
		grid-row-start: 5;
		grid-row-end: 6;
	}
	.sub {
		grid-row-start: 6;
		grid-row-end: 7;
	}
	.ned {
		grid-row-start: 7;
		grid-row-end: 8;
	}
	#prvi {
		grid-column-start: 2;
		display: block;
		grid-row-start: 1;
		grid-row-end: 2; 
	}
	#drugi {
		grid-column-start: 2;
		display: block;
		grid-row-start: 2;
		grid-row-end: 2;
  	}
	#treci {
		grid-column-start: 2;
		display: block;
		grid-row-start: 3;
		grid-row-end: 4; 
	}
	#cetvrti {
		grid-column-start: 2;
		display: block;
		grid-row-start: 4;
		grid-row-end: 5; 
	}
	#peti {
		grid-column-start: 2;
		display: block;
		grid-row-start: 5;
		grid-row-end: 6; 
	}
	#sesti {
		grid-column-start: 2;
		display: block;
		grid-row-start: 6;
		grid-row-end: 7; 
	}
	#sedmi {
		grid-column-start: 2;
		display: block;
		grid-row-start: 7;
		grid-row-end: 8; 
	}

	.outterDiv {
		display: none;
	}
}
