.vanjski {
	position: relative;
	top: -45px;
}
.sadrzaj {
	background-color: #6495ED;	
	width: 600pt;
	margin: 0 auto;
	padding: 15px;
}
.tabelaSala {
	background-color: white;
	border-collapse: collapse;
	width: 400pt;
	height: 500pt;
	margin: 0 auto;
}
td, tr {
	padding: 10px;
}
td {
	width: 100pt;
}
.headerSprat {
	background-color: #A9A9A9;
	text-align: center;
	border-bottom: 0.5px solid white;
	border-right: 0.5px solid white;
	border-left: 0.5px solid white;
	text-align: end;
} 
.headerRedni {
	background-color: #DCDCDC;
	border: 0.5px solid white;
}
.slobodnaSala {
	background-color: #00FF00;
	border: 1px solid black;
	vertical-align: top;
}

.zauzetaSala {
	background-color: red;
	border: 1px solid black;
	vertical-align: top;
}
.kancelarija {
	background-color: #6495ED; 
	border: 1px solid black;
	vertical-align: top;
}
.sala {
	border: 1px solid black;
	vertical-align: top;
}
.hiddenCell {
	background-color: #6495ED;
	border: none;
}
#redniBroj {
	vertical-align: bottom;
}
#spratovi {
	text-align: center;
}
@media screen and (max-width: 800px) {
	.meni, .vanjski, .sadrzaj {
		width: auto;
	}
	.tabelaSala {
		width: auto;
	}
}
@media screen and (max-width: 600px) {
	.headerSprat {
		display: none;
	}
	.headerRedni {
		display: none;
	}
	#hiddenRow {
		display: none;
	}
}