.vanjski {
	position: relative;
	top: -45px;
}

.sadrzaj {
	background-color: #6495ED;
	width: 600pt;
	margin: 0 auto;
	padding: 15px;
}

.labela {
	display: inline-block;
	width: 100pt;
}
.itemForma {
	display: inline;
}
@media screen and (max-width: 800px) {
	.meni, .vanjski, .sadrzaj {
		width: auto;
	}
}

@media screen and (max-width: 600px) {
	.labela {
		display: inline;
	}
	.itemForma {
		display: block;
	}
}